[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = "*"
ffmpeg-python = {git = "https://github.com/kkroening/ffmpeg-python.git"}
tts = "*"
sounddevice = "*"
webuntis = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.7"
